.pagination-div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1%;
  }
  .pagination-btn {
      background-color: #04AA6D;
      border: none;
      border-radius: 14px;
      width: 65px;
      height: 40px;
      margin: 0px 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }